.personal-container {
	display: flex;
}
.personal-menu {
	width: 250px;
	flex-shrink: 0;
	height: calc(100vh - 80px)
}
.personal-content {
	width: 100%;
	height: 100%;
}
.personal-avatar {
	width: 100px;
	height: 100px;
}